/*about_us*/
body{ background:#efefef; }
.about_us_min{   position:relative; text-align:center; height:auto; padding-bottom:10%;}
.about_us_min dt img{width:40%; margin-top:10%; }
.about_us_last{ background:white; height:auto; width:100%; display:block; overflow:hidden;}
.about_us_last dd{ float:left;}
.about_us_last dd a{ font-size:1.4em; display:block;  line-height:60px; margin-left:10px;}
.about_us_last dt{ float:right;  margin-top:3%; margin-right:10px;}
.about_us_last dt a{ line-height:60px;}
.about_us_fin{   bottom:0;left:0;height:60px; width:100%; text-align:center; background:#efefef; margin-top:50px;}


/*bankcard*/
.bankcard{ width:90%; margin-left:5%; margin-right:5%; height:156px;; border-radius:10px; background-color:#0e5baa; margin-top:5%;}
.bankcard dt{ padding-top:20px; padding-left:20px;}
.bankcard dt a{ font-size:1.4em; color:white;}
.bankcard dd{ padding-left:20px;  padding-top:20px}
.bankcard dd a{ font-size:1.2em; color:#04477f;;}
.bankcard dd p{font-size:em; color:white; margin-top:14px;}
.bankcard dd span{ font-size:1.2em; color:#73b2e6;}

/*bankcard_add*/
.bank{ width:90%; margin-left:5%; margin-right:5%;  margin-top:7%;}
.bank_01{width:100%;  height:56px; background-color:white;font-size:1.3em;border:none;padding-left:2%;-webkit-appearance:none;}
.bank_01 option{border:none; padding-left:2%;}

.bank_02{width:97%;  height:56px; background-color:white;  margin-top:7%; line-height:56px; font-size:1.3em; border:none; padding-left:2%;}
.bank_03{width:97%;  height:56px; background-color:white;  margin-top:7%; line-height:56px; font-size:1.3em; border:none; padding-left:2%;}
.bank_05{width:97%;  height:56px; background-color:white;  margin-top:7%; line-height:56px; font-size:1.3em; border:none; padding-left:2%;}
.bank_06{width:97%;  height:56px; background-color:white;  margin-top:7%; line-height:56px; font-size:1.3em; border:none; padding-left:2%;}

.bank_04{ width:100%;  height:56px; background-color:white;  margin-top:7%;}
.bank_04 dt{ float:left;width:60%}
.bank_04 dt input{ font-size:1.3em; line-height:56px; margin-left:10px; border:none; }
.bank_04 dd{ float:right;}
.bank_04 dd input{font-size:1.2em; line-height:56px; padding:0 8px; border:none;  background-color:#0e5baa; color:white; float:right; width:100%;}

.bank_sure{width:100%; height:50px; line-height:50px; text-align:center; border-radius:10px; font-size:1.3em; display:block; background-color:#f65741; color:white; margin-top:7%;}

/*bankcard_decrease*/

.bank_decrease{ width:80%; margin-left:10%; margin-right:10%; margin-top:40px; height:200px;}
.bank_decrease dt{}
.bank_decrease dt a{}
.bank_decrease dt p{}
.bank_decrease dd{}
.bank_decrease dd a{}


/*bespeak*/
.bespeak{ width:100%; height:auto; margin-top:5%;}
.bespeak dt{ width:94%; padding-left:3%; padding-right:3%; height:50px; background:white; border-bottom:#dddddd 1px solid; float:left;}
.bespeak dt a{display:block; float:left; font-size:1.3em; line-height:50px; color:#333333;}
.bespeak dt p{ float:right; font-size:1.1em; line-height:50px;}
.bespeak dd{  width:92%; padding-left:4%; padding-right:4%; overflow:hidden; display:block; float:left;}
.bespeak dd a{ width:100%; height:40px; float:left; line-height:40px;}
.bespeak dd input{ width:100%; height:50px; float:left; line-height:50px; border:none; margin-left:-3%; padding-left:6%}

/*bespeak_list*/
.bespeak_list{ width:100%; height:40px; background:white;}
.bespeak_list li{ float:left;width:33.3%;}
.bespeak_list a{ display:block; height:40px; width:100%; font-size:1.3em; line-height:40px; text-align:center;}
.bespeak_list_style{ border-bottom:#0e5baa 2px solid;}
.bespeak_list_01 { display:block; overflow:hidden;  width:92%; padding-left:4%; padding-right:4%; margin-top:5%; background:white;}
.bespeak_list_01 dt{ height:40px; width:100%; float:left;}
.bespeak_list_01 dt a{ height:40px;  float:left; line-height:40px; display:block; font-size:1.3em;}
.bespeak_list_01 dt p{ height:40px;  float:right; line-height:40px; font-size:1.3em;}
.bespeak_list_01 dd{ height:40px; width:100%;float:left; float:left;}
.bespeak_list_01 dd a{ height:40px;  float:left; line-height:40px; display:block; margin-left:4px; color:#999;}
.bespeak_list_01 dd p{ height:40px;  float:right; line-height:40px; color:#ef0000;}
.bespeak_list_01 dd img{ float:left; margin-top:8px;}
.bespeak_list_btn{ position:relative;}
.bespeak_list_btn input{ width:100%; height:36px; background:#ffbd2e; border:none; color:white; font-size:1.1em;}
.bespeak_list_btn img{ position:absolute; left:34%; top:3px;}

/*bespeak_success*/
.bespeak_success_min{   position:relative; text-align:center; height:auto; padding-bottom:10%;}
.bespeak_success_min dt img{width:20%; margin-top:10%; }
.bespeak_success_min dd{}
.bespeak_success_min dd a{ color:#333; font-size:1.3em; margin-top:10px; display:block; margin-bottom:10px;}
.bespeak_success_last{ background:white; height:auto;  width:92%; padding-left:4%; padding-right:4%; display:block; overflow:hidden; }
.bespeak_success_last dd{ float:left; height:50px;}
.bespeak_success_last dd a{ font-size:1.3em; display:block;  line-height:50px;  color:#333;}
.bespeak_success_last dt{ float:right;  height:50px;}
.bespeak_success_last dt a{ line-height:50px; font-size:1.2em; }

/*detail*/
.detail{ width:92%; padding-left:4%; padding-right:4%; height:auto; display:block; overflow:hidden;}
.detail dt{width:100%; float:left; margin-top:6%;}
.detail dt a{ color:#333; font-size:1.3em;}
.detail dd{ width:100%; float:left;  }
.detail dd a{ width:24%;height:30px; background:#69afff; display:block; line-height:30px; border-radius:5px; text-align:center; color:white; float:left; margin-left:7%; margin-top:4%;}

/*bespeak_list*/
.detail_month{ width:92%; padding-left:4%; padding-right:4%;  height:40px; background:white;}
.detail_month li{ float:left; width:33.3%;}
.detail_month span{ display:block; height:40px; width:100%; font-size:1.3em; line-height:40px; text-align:left; }
.detail_month_style span{ color:#ef0000; text-align:right;}
.detail_month_01 { display:block; overflow:hidden;  width:92%; padding-left:4%; padding-right:4%; margin-top:3%; background:white;}
.detail_month_01 dt{ height:40px; width:100%; float:left;}
.detail_month_01 dt span{ height:40px;  float:left; line-height:40px; display:block; font-size:1.3em;}
.detail_month_01 dt p{ height:40px;  float:right; line-height:40px; font-size:1.3em;}
.detail_month_01 dd{ height:40px; width:100%;float:left;}
.detail_month_01 dd span{ height:40px;  float:left; line-height:40px; display:block; margin-left:4px; color:#999;}
.detail_month_01 dd p{ height:40px;  float:right; line-height:40px;}
.detail_month_01 dd img{ float:left; margin-top:8px;}

/*feedback*/
.feedback_btn01{ width:92%; padding-left:4%; padding-right:4%;  height:320px; background:white; padding-top:5%; border:none;}
.feedback_btn02{ width:92%; margin-left:4%; margin-right:4%;  background:#0e5baa; height:50px; border-radius:6px; line-height:50px; color:white; font-size:1.2em; border:none; margin-top:5%; }

/*mycenter*/
.mycenter_min{ width:92%; padding-left:4%; padding-right:4%; height:auto; background-color:white; padding-top:5%; overflow:hidden; display:block; margin-bottom:5%;padding-bottom:5%;}
.mycenter_min dt{width:100%; height:116px; text-align:center; float:left;}
.mycenter_min dt div{ width:100px; height:100px; background-color:red; border-radius:50px; float:left;}
.mycenter_min dt p{ padding-top:9%; width:40%; float:left; margin-left:6%;}
.mycenter_min dt span{ display:block; line-height:30px;}
.mycenter_min dt a{ float:right; display:block;float:right;  margin-top:9%; }
.mycenter_min dd{ width:100%; height:60px; border:#dddddd 1px solid; border-radius:6px; float:left; line-height:60px; text-align:center;}
.mycenter_min dd a{ height:58px; width:50%; display:block; float:left; background:url(../images/mycenter_line.png) no-repeat left;}
.mycenter_last{ background:white; height:auto; width:100%; display:block; overflow:hidden;  border-bottom:#dddddd 1px solid;}
.mycenter_last dd{ float:left;}
.mycenter_last dd a{ font-size:1.3em; display:block;  line-height:50px; margin-left:10px;}
.mycenter_last dt{ float:right;  margin-top:3%; margin-right:10px;}
.mycenter_last dt img{ width:70%;}
.mycenter_last dt a{ line-height:60px;}


/*bespeak_success*/
.park_min{   position:relative; text-align:center; height:auto; margin-bottom:5%;}
.park_min dt{ width:100%; heihgt:228px;}
.park_min dt img{ width:100%; heihgt:228px; }
.park_min dd{ width:100%; height:auto; display:block; overflow:hidden; background:white;}
.park_min dd span{ width:100%; color:#333; font-size:1.3em; display:block; line-height:50px; height:50px;}

.park_last{ background:white; height:auto;  width:92%; padding-left:4%; padding-right:4%; display:block; overflow:hidden; border-bottom:#dddddd 1px solid;}
.park_last dd{ float:left; height:50px;}
.park_last dd span{ font-size:1.3em; display:block;  line-height:50px;  color:#333;}
.park_last dt{ float:right;  height:50px;}
.park_last dt span{ line-height:50px; font-size:1.2em;color:#999; }
.park_last dt p{ line-height:50px; color:#999; }

.park_last_01{ background:white; height:auto;  width:92%; padding-left:4%; padding-right:4%; display:block; overflow:hidden; border-bottom:#dddddd 1px solid;}
.park_last_01 dd{ float:left; height:70px; widht:30%;}
.park_last_01 dd span{ font-size:1.3em; display:block;  line-height:70px;  color:#333;}
.park_last_01 dt{ float:right;  height:55px; width:70%; margin-top:15px;}
.park_last_01 dt span{ width:100%; float:left; text-align:right; color:#999;}

.park_btn{ margin-top:10%; width:100%; height:40px;}
.park_btn dt,.park_btn dd{ float:left; width:50%; text-align:center; line-height:40px; height:40px;}
.park_btn dt{ background-color:#0e5baa;}
.park_btn dt a{ color:white; line-height:40px;  display:block; height:40px; width:100%; overflow:hidden;}
.park_btn dt a span{line-height:40px; height:40px; width:30%; display:block; float:left; }
.park_btn dt img{padding-top:5px; float:left; margin-left:30%;}
.park_btn dd{ background-color:#ff665e;}
.park_btn dd a{ color:white; line-height:40px;  display:block; height:40px; width:100%; overflow:hidden;}
.park_btn dd a span{line-height:40px; height:40px; width:30%; display:block; float:left; }
.park_btn dd img{padding-top:5px; float:left; margin-left:30%;}


/*pay*/
.pay_min{ width:92%; padding-left:4%; padding-right:4%; height:auto; background-color:white; padding-top:5%; overflow:hidden; display:block; margin-bottom:5%;padding-bottom:2%;}
.pay_min dt{ width:100%; height:30px; line-height:30px; text-align:center;}
.pay_min dt span{ font-size:1.3em; color:#333;}
.pay_min dd{ width:100%; height:30px; line-height:30px;}
.pay_min dd span{ color:#999; float:left;}
.pay_min dd p{ color:#999; float:right; text-align:right;}

.pay_min_01{ width:92%; padding-left:4%; padding-right:4%; height:auto; background-color:white;  overflow:hidden; display:block;  border-bottom:#dddddd 1px solid;}
.pay_min_01 dt{ width:100%; height:40px; line-height:40px;}
.pay_min_01 dt span{ color:#333; float:left; font-size:1.2em;}
.pay_min_01 dt p{ color:#999; float:right; text-align:right;}
.pay_way{ width:100%; padding-left:10px; height:50px; background-color:white;  overflow:hidden; display:block;  border-bottom:#dddddd 1px solid; line-height:50px; font-size:1.2em;}


.pay_last{ background:white; height:auto; width:100%; display:block; overflow:hidden;  border-bottom:#dddddd 1px solid;}
.pay_last dd{ float:left; widht:60%; height:auto;}
.pay_last dd img{ float:left; margin-top:10px;}
.pay_last dd a{ font-size:1.2em; display:block;  line-height:50px; margin-left:10px; float:left;}
.pay_last dt{ float:right;  margin-top:3%; margin-right:10px;}
.pay_last dt img{ width:70%;}
.pay_last dt a{ line-height:60px;}



/*pay_success*/
.pay_success_min{   position:relative; text-align:center; height:auto; padding-bottom:10%;}
.pay_success_min dt img{width:20%; margin-top:10%; }
.pay_success_min dd{}
.pay_success_min dd a{ color:#333; font-size:1.3em; margin-top:10px; display:block; margin-bottom:10px;}
.pay_success_last{ background:white; height:auto;  width:92%; padding-left:4%; padding-right:4%; display:block; overflow:hidden; }
.pay_success_last dd{ float:left; height:50px;}
.pay_success_last dd a{ font-size:1.3em; display:block;  line-height:50px;  color:#333;}
.pay_success_last dt{ float:right;  height:50px;}
.pay_success_last dt a{ line-height:50px; font-size:1.2em; }

/*personal_info*/
.personal_info{ width:100%; height:auto; padding-top:5%; background:#0e5baa; padding-bottom:2%;}
.personal_info_img{ width:100% height:100px;}
.personal_info_img a{ width:100px; height:100px; display:block; border-radius:50px; background-color:#3b93de; line-height:100px; text-align:center; color:white; border:white 2px solid; margin-left:auto; margin-right:auto;}
.personal_info p{ width:100%; text-align:center; color:white; line-height:30px; font-size:1.1em;}
.personal_info_list{ width:92%; padding-left:4%; padding-right:4%;  border-bottom:#ddd 1px solid;}
.personal_info_list dd{ width:100%; height:50px; border-bottom:#ddd 1px solid;}
.personal_info_list div{ float:left; font-size:1.3em; height:50px; line-height:50px; color:#333; width:30%;}
.personal_info_list p{ float:left; height:50px; line-height:50px; color:#999; font-size:1.3em;}
.personal_info_list a{ display:block; float:right;; height:50px; line-height:50px;}
.personal_info_list a span{ height:50px; line-height:50px; float:left;  color:#0e5baa; text-align:right; margin-right:3px;;}
.personal_info_list a img{ float:right; margin-top:12px;}
/*personal_info_user*/
.personal_info_user input{ width:90%; padding-left:2%; color:#666; margin-left:4%; margin-right:4%; height:50px;; background-color:white;  overflow:hidden; display:block;  border:none; font-size:1.2em; margin-top:5%; position:relative;}
.personal_info_user p{ width:92%; color:#c7c7c7; padding-left:4%; margin-top:2%; font-size:1.1em; line-height:24px; }
.personal_info_user a{ display:block; width:20px; height:20x; border-radius:10px; background-color:#ddd; color:white; position:absolute; left:86%; top:0px; line-height:20px; text-align:center; margin-top:15px;}

/*personal_info_pwd*/
.personal_info_pwd input{ width:90%; padding-left:2%; color:#666; margin-left:4%; margin-right:4%; height:50px;; background-color:white;  overflow:hidden; display:block;  border:none; font-size:1.2em; margin-top:5%; position:relative;}
.personal_info_pwd p{ width:92%; color:#c7c7c7; padding-left:4%; margin-top:2%; font-size:1.1em; line-height:24px; }
.personal_info_pwd a{ display:block; width:20px; height:20x; border-radius:10px; background-color:#ddd; color:white; position:absolute; left:86%; top:0px; line-height:20px; text-align:center; margin-top:15px;}



/*setting*/

.setting_last{ background:white; height:auto; width:100%; display:block; overflow:hidden; border-bottom:#ddd 1px solid;}
.setting_last dd{ float:left;}
.setting_last dd span{ font-size:1.4em; display:block;  line-height:60px; margin-left:10px;}
.setting_last dt p{height:60px; display:block; line-height:60px; float:right; font-size:1.2em; margin-right:3%;}
.setting_last dt{ float:right;   margin-right:10px; width:50%;}
.setting_last dt span{ line-height:60px; float:right;margin-top:7%;}


/*setting_change*/

.setting_change_last{ background:white; height:auto; width:100%; display:block; overflow:hidden; border-bottom:#ddd 1px solid;}
.setting_change_last dd{ float:left;}
.setting_change_last dd span{ font-size:1.4em; display:block;  line-height:60px; margin-left:10px;}


/*setting_download*/
.setting_download_last{ background:white; height:auto; width:100%; display:block; overflow:hidden; border-bottom:#ddd 1px solid;}
.setting_download_last dt{ float:left;}
.setting_download_last dt span{ font-size:1.4em; display:block;  line-height:60px; margin-left:10px; float:left;}
.setting_download_last dd{ float:righ;}
.setting_download_last dd p{ display:block; height:60px; line-height:60px; margin-left:10px; float:left; padding-left:2%;}
.setting_download_last dd div{ display:block; height:60px;  line-height:60px; margin-left:10px;float:right; margin-right:3%; font-size:1.2em;}
