<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站名称</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header class="maintop">
	<a class="main_guide"><img src="images/aboutus_left.png"></a>
    <p>停车订单</p>
</header>
<div class="main">
	<dl class="bespeak_success_min">
		<dt><img src="images/bespeak_success.png" /></dt>
        <dd><a>预约车位成功</a><p>感谢您的支持，欢迎下次光临</p></dd>
  	</dl>

	<dl class="bespeak_success_last">
		<dd><a>停车场</a></dd>
        <dt><a>郎俊三栋停车场负一楼</a></dt>
  	</dl>
    <dl class="bespeak_success_last">
		<dd><a>车牌号</a></dd>
        <dt><a>渝A32632</a></dt>
  	</dl>
    <dl class="bespeak_success_last">
		<dd><a>预约时间</a></dd>
        <dt><a>2014-12-12 12:12</a></dt>
  	</dl>

    
</div><!--main END-->








</body>
</html>
