<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站名称</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header class="maintop">
	<a class="main_guide"><img src="images/aboutus_left.png"></a>
    <p>预约选择</p>
    <a class="main_add">帮助</a>
</header>
<div class="main">
	<dl class="bespeak">
    	<dt><a>停车场</a><p>郎俊三栋停车场负一楼</p></dt>
        <dt><a>车牌号</a><p>渝A32632</p></dt>
        <dd><a>请选择日期</a><input type="date" value="" /></dd>
        <dd><a>请选择时间</a><input type="time" value="" /></dd>
    </dl>

    
</div><!--main END-->








</body>
</html>
