<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站名称</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header class="maintop">
	<a class="main_guide"><img src="images/aboutus_left.png"></a>
    <p>意见反馈</p>
</header>
<div class="main">

<textarea class="feedback_btn01" name="" cols="" rows=""></textarea>
<input class="feedback_btn02" type="button" value="提交" />

   
</div><!--main END-->








</body>
</html>
