<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站名称</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>


<div class="header">
  		<p>个人中心</p>
  		<a href="#" class="a4"></a>
</div>
<div class="main">
	
    <div class="find_img"></div> 
    <div class="find_float"> 
    <dl class="find01">
    <dt><span>首创·立方停车库</span><p>329m</p></dt>
    <dd><div>20 </div><span>10元/小时</span></dd>
    <dd><p>重庆市九龙坡区龙腾大道99号</p></dd>
    </dl>
      
    
    <dl class="find_btn">
    <dt><a><img src="images/park_icon01.png" /><span>导航</span></a></dt>
    <dd><a><img src="images/park_icon02.png" /><span>预约</span></a></dd>
    </dl>
    </div>
</div><!--main END-->








</body>
</html>
