<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>地图列表</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>


<div class="header">
  		<input type="search" value="搜索目的地" />
  		<a href="#" class="a4"></a>
        <a class="a5">地图</a>
        <a  class="header_search"><img src="/user/images/find_list_search.png" /></a>
</div>
<div class="main">
	
    <div class="find_list_top">
    <span> 地图所在位置：重庆市渝北区黄龙路18号</span>
    <a><img src="/user/images/find_list.png" /></a>
    </div>
    
    <div class="find_list_float"> 
    <dl class="find_list01">
    <dt><span>首创·立方停车库</span><p>329m</p></dt>
    <dd><div>20 </div><span>10元/小时</span></dd>
    <dd><p>重庆市九龙坡区龙腾大道99号</p></dd>
    </dl>
      
    
    <dl class="find_list_btn">
    <dt><a><img src="/user/images/park_icon01.png" /><span>导航</span></a></dt>
    <dd><a><img src="/user/images/park_icon02.png" /><span>预约</span></a></dd>
    </dl>
    
    </div>
     <div class="find_list_float"> 
    <dl class="find_list01">
    <dt><span>首创·立方停车库</span><p>329m</p></dt>
    <dd><div>20 </div><span>10元/小时</span></dd>
    <dd><p>重庆市九龙坡区龙腾大道99号</p></dd>
    </dl>
      
    
    <dl class="find_list_btn">
    <dt><a><img src="/user/images/park_icon01.png" /><span>导航</span></a></dt>
    <dd><a><img src="/user/images/park_icon02.png" /><span>预约</span></a></dd>
    </dl>
    
    </div>
     <div class="find_list_float"> 
    <dl class="find_list01">
    <dt><span>首创·立方停车库</span><p>329m</p></dt>
    <dd><div>20 </div><span>10元/小时</span></dd>
    <dd><p>重庆市九龙坡区龙腾大道99号</p></dd>
    </dl>
      
    
    <dl class="find_list_btn">
    <dt><a><img src="/user/images/park_icon01.png" /><span>导航</span></a></dt>
    <dd><a><img src="/user/images/park_icon02.png" /><span>预约</span></a></dd>
    </dl>
    
    </div>
</div><!--main END-->








</body>
</html>
