<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站名称</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header class="maintop">
	<a class="main_guide"><img src="images/aboutus_left.png"></a>
    <p>个人中心</p>
</header>
<div class="main">
	<dl class="mycenter_min">
		<dt>
        	<div><img src="images/mycenter_img.png"/></div>
        	<p>13813813813<span>渝A·326326</span></p>
            <a><img src="images/aboutus_right.png" /></a>
        </dt>
        <dd>
        	<a style="color:#ff665e; background:none;">订单</a>
            <a style="color:#69afff; ">预约</a>
        </dd>
        
  	</dl>

	<a>
    <dl class="mycenter_last">
		<dd><a>明细</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
    <a>
    <dl class="mycenter_last">
		<dd><a>银行卡</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
    <a>
    <dl class="mycenter_last">
		<dd><a>停车记录</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
    <a>
    <dl class="mycenter_last">
		<dd><a>消息中心</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
    <a>
    <dl class="mycenter_last">
		<dd><a>我的二维码</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a> <a>
    <dl style="margin-top:5%;" class="mycenter_last">
		<dd><a>设置</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
    <a>
    <dl class="mycenter_last">
		<dd><a>意见反馈</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
    <a>
    <dl class="mycenter_last">
		<dd><a>关于我们</a></dd>
        <dt><a><img src="images/aboutus_right.png" /></a></dt>
  	</dl>
    </a>
 
    
</div><!--main END-->








</body>
</html>
