<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分享给小伙伴</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="header">
  		<p>分享给小伙伴</p>
  		<a href="#" class="a4"></a>
</div>
<div class="main">
	<div class="myQRcode">	
        <span><img src="images/myQRcode.png"/></span>
        <p>给收费员扫一扫完成停车缴费</p>
    </div>

   
    
</div><!--main END-->








</body>
</html>
