<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站名称</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<header class="maintop">
	<a class="main_guide"><img src="images/aboutus_left.png"></a>
    <p>设置</p>
</header>
<div style=" margin-top:5%;" class="main">
	
	<a><dl class="setting_last">
		<dd><span>离线地图</span></dd>
        <dt><span><img src="images/setting_guide.png"/></span></dt>
  	</dl></a>
  <a> <dl class="setting_last">
		<dd><span>城市切换</span></dd>
        <dt><span><img src="images/setting_guide.png"/></span><p>重庆市</p></dt>
  	</dl></a>
  <a> <dl class="setting_last">
		<dd><span>检查更新</span></dd>
        <dt><span><img src="images/setting_guide.png"/></span><p>V1.0</p></dt>
  	</dl></a>

   
    
</div><!--main END-->








</body>
</html>
