<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分享给小伙伴</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />


<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="header">
  		<p>分享给小伙伴</p>
  		<a href="#" class="a4"></a>
</div>
<div class="main">
	<div class="share">
    	<p>扫码下载[优泊天下]</p>
        <span><img src="images/share_mark.png" /></span>
    </div>
	<dl class="share01">
    <dt><div><span>分享到</span></div></dt>
    <dd><a><img src="images/share_icon01.png" /><span>微信好友</span></a></dd>
    <dd><a><img src="images/share_icon02.png" /><span>朋友圈</span></a></dd>
    <dd><a><img src="images/share_icon03.png" /><span>QQ</span></a></dd>
    <dd><a><img src="images/share_icon04.png" /><span>新浪微博</span></a></dd>
    </dl>

   
    
</div><!--main END-->








</body>
</html>
