<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN">
<title>优泊天下-银行卡</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!--css-->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<!--头部开始-->
	<div class="header">
  		<p>银行卡</p>
  		<a href="#" class="a4"></a>
    </div>
    <!--头部结束-->
    
    <div class="ybtx">
    <!--银行卡开始-->
	<div class="bank">
    <form>
        <select>
        	<option value="account">开户银行</option>
            <option value="CCB">中国建设银行</option>
            <option value="CCB">中国建设银行</option>
            <option value="CCB">中国建设银行</option>
            <option value="CCB">中国建设银行</option>
		</select>
        <p class="bank_mes">请填写以下信息用于验证身份</p>
    	
        <input class="bank_02"  type="text" placeholder="持卡人"/ >
        <input class="bank_03"  type="text" placeholder="身份证号码"/ >
        <input class="bank_05"  type="text" placeholder="银行卡号"/ >
        <input class="bank_06"  type="text" placeholder="银行预留手机号"/ >
        
        
        
        <dl class="bank_04">
        	<dt><input class="bank_07" type="" placeholder="验证码" /></dt>
            <dd><input type="submit" value="获取验证码" /></dd>
        </dl>
        <input class="bank_sure" type="submit" value="确认绑定">
    </form>
    </div>
    <!--银行卡结束-->

    <div class="mb98"></div>
    
    </div>
    
    <!--底部开始-->
    <div class="footer">
        <a class="a1" href="#">主页</a>
        <a class="a2 sel" href="#">账户<span></span></a>
        <a class="a3" href="#">收费记录<span></span></a>
        <a class="a4" href="#">车场信息<span></span></a>
        <a class="a5" href="#">设置<span></span></a>
    </div>
    <!--底部结束-->
    
</body>
</html>
