<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN">
<title>优泊天下-退款申请</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="copyright" content="" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<!--css-->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<!--头部开始-->
	<div class="header">
  		<p>退款申请</p>
  		<a href="#" class="a4"></a>
    </div>
    <!--头部结束-->
    
    <div class="ybtx">
    <!--退款申请开始-->
	<div class="refund_request">
        <div class="payment_situation">
            <a href="#" class="a1 sel">待通过</a>
            <a href="#" class="a1">未通过</a>
            <a href="#" class="a1">已通过</a>
            <a href="#" class="a1 ">全部</a>
        </div>
		<dl class="bespeak_list_01">
            <dt><a>绿地海楼大厦地下停车场</a><p>退款成功</p></dt>
            <dd><img src="images/bespeak_list_01.png" /><a>2015-01-12   12:30</a></dd>
            <dt><b>退款金额</b><p class="red_1">￥<span>14.00</span></p></dt>
        </dl>
        <div class="bespeak_list_btn">
            <input class="sel_2" type="button" value="退款成功"/ >
        </div>
        
        <dl class="bespeak_list_01">
            <dt><a>绿地海楼大厦地下停车场</a><p class="sel_3">待通过</p></dt>
            <dd><img src="images/bespeak_list_01.png" /><a>2015-01-12   12:30</a></dd>
            <dt><b>退款金额</b><p class="red_1">￥<span>14.00</span></p></dt>
        </dl>
        <div class="bespeak_list_btn">
            <input type="button" value="通过"/ >
        </div>
        
        <dl class="bespeak_list_01">
            <dt><a>绿地海楼大厦地下停车场</a><p class="sel_3">待通过</p></dt>
            <dd><img src="images/bespeak_list_01.png" /><a>2015-01-12   12:30</a></dd>
            <dt><b>退款金额</b><p class="red_1">￥<span>14.00</span></p></dt>
        </dl>
        <div class="bespeak_list_btn">
            <input type="button" value="通过"/ >
        </div>
    </div>
    <!--退款申请结束-->

    <div class="mb98"></div>
    	
    </div>
    
    <!--底部开始-->
    <div class="footer">
        <a class="a1" href="#">主页</a>
        <a class="a2" href="#">账户<span></span></a>
        <a class="a3 sel" href="#">收费记录<span></span></a>
        <a class="a4" href="#">车场信息<span></span></a>
        <a class="a5" href="#">设置<span></span></a>
    </div>
    <!--底部结束-->
    
</body>
</html>
